.design {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  height: max-content;

  .words {
    color: #7c7d87;
    text-align: center;
    font-weight: 800;
    margin-left: 15px;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .container-matrix {
    position: relative;

    .words {
      margin-left: 0;
    }
  }
}
