// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

$--ep-custom-aside-width: 300px;

$--header-height: 50px;
$--header-color: rgb(65 158 218);
$--header-color-dark: rgb(132 123 143 / 50%);
$--footer-height: 20px;

body {
  font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  color: var(--ep-text-color-primary);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border-style: dashed;
  border-color: transparent;
  border-width: 2px;
  background-color: rgba(157, 165, 183, 0.4);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(157, 165, 183, 0.7);
}

::-webkit-scrollbar-track {
  border-radius: 6px;
}

a {
  color: var(--ep-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}

.main-container {
  height: calc(100vh - var(--ep-menu-item-height) - 3px);
}

.page {
  height: 100%;
}

.ep-tabs__nav {
  z-index: 0;
}