@use 'settings';
@use 'vuetify';
@import "variables";


html, body, #app {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

// 主窗口圆角
.main-window-radius {
  border-radius: 10px;
  border: 1px solid rgba(216, 212, 212, 0.3);
}

.v-overlay-container .v-overlay__scrim,
.v-dialog--fullscreen .v-overlay__scrim,
.v-dialog--fullscreen .v-overlay__content 
 {
  top: 28px;
}

.v-overlay .v-overlay__content {
  max-height: 90%;
}

.v-dialog--fullscreen .v-overlay__content,
.v-overlay--contained .v-overlay__content
 {
  max-height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border-style: dashed;
  border-color: transparent;
  border-width: 2px;
  background-color: rgba(157, 165, 183, 0.4);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(157, 165, 183, 0.7);
}

::-webkit-scrollbar-track {
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}

.user-select-none {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.transition-none {
  transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
}

.card-box-shadow {
  box-shadow: 0 12px 32px 4px rgba(0, 0, 0, .04), 0 8px 20px rgba(0, 0, 0, .08);
}

.ͼ1.cm-focused {
  outline: none;
}

.cm-gutterElement {
  user-select: none;
}

.editor-footer-item {
  margin-left: 1em;
  display: inline-block;
  font-feature-settings: 'tnum';
  height: $--editor-footer-height;
  line-height: $--editor-footer-height;
  opacity: 0.7;
  text-wrap: nowrap;
}

.editor-footer-item:hover {
  opacity: 1;
}

.v-list-item--nav .v-list-item-title {
  font-size: 1rem;
}

button {
  outline: none;
}

.simulate-tag-a {
  cursor: pointer;
  text-decoration: none;
}

.simulate-tag-a:hover {
  text-decoration: underline;
}

.icon-star-filled,
.icon-star,
.icon-remove,
.icon-monitor {
  display: inline-block;
  width: 18px;
  height: 18px !important;
  line-height: 18px !important;
  vertical-align: text-top;
}

.icon-star-filled {
  background: url("/collection-fill.png") no-repeat scroll 0 0 transparent;
}

.icon-star {
  background: url("/collection.png") no-repeat scroll 0 0 transparent;
}

.icon-remove {
  background: url("/remove.png") no-repeat scroll 0 0 transparent;
}

.icon-monitor {
  background: url("/monitor.png") no-repeat scroll 0 0 transparent;
}

//  全屏抽屉 - 右侧
.collection-drawer-right .v-overlay__content {
  width: 600px;
  height: 100%;
  margin: 0;
  position: absolute;
  right: 0;
  padding: 0;
  border-radius: 0;
}

.collection-drawer-right .v-card-item__content {
  height: 100%;
  align-self: start;
}

//  全屏抽屉 - 底部
.collection-drawer-bottom .v-overlay__content {
  width: 100%;
  max-width: 100%;
  height: 70%;
  margin: 0;
  position: absolute;
  bottom: 0;
  padding: 0;
  border-radius: 0;
}

.collection-drawer-bottom .v-card-item__content {
  height: 100%;
  align-self: start;
}

.inline-label {
  display: inline-block;
  user-select: none;
  width: 180px;
}

.input-label {
  line-height: 48px;
}

.checkbox-label, .select-label {
  line-height: 56px;
}

.radio-label {
  line-height: 40px;
}